<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="FILE-ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${logs}</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${logs}/app.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <!-- each archived file, size max 5MB -->
            <maxFileSize>5MB</maxFileSize>
            <!-- total size of all archive files, if total size > 20MB, it will delete old archived file -->
            <totalSizeCap>20MB</totalSizeCap>
            <!-- 30 days to keep -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%d %p %c{1} [%t] %m%n</pattern>
        </encoder>
    </appender>
    <logger name="fr.softsf.sudokufx" level="info" additivity="false">
        <appender-ref ref="FILE-ROLLING"/>
    </logger>
    <root level="info">
        <appender-ref ref="FILE-ROLLING"/>
    </root>
</configuration>